<template>
  <div class="home pa-6">

    <v-text-field
      v-model="newTask"
      @click:append="addTask"
      @keyup.enter="addTask"
      outlined
      label="Append"
      append-icon="mdi-plus-thick"
      clearable
      hide-details
    ></v-text-field>

    <v-list
      flat
    >
      <div
        v-for="task in tasks"
        :key="task.id"
      >
        <v-list-item
          @click="doneTask(task.id)"
          :class="{ 'blue lighten-4' : task.done }"
        >
          <template v-slot:default>
            <v-list-item-action>
              <v-checkbox
                :input-value="task.done"
                color="primary"
              ></v-checkbox>
            </v-list-item-action>

            <v-list-item-content
              :class="{ 'text-decoration-line-through' : task.done }"
            >
              <v-list-item-title>{{ task.text }}</v-list-item-title>
            </v-list-item-content>

            <v-list-item-action
             @click="deleteTask(task.id)"
            >
              <v-btn icon>
                <v-icon color="secondary">mdi-delete</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
        </v-list-item>
        <v-divider></v-divider>
      </div>
    </v-list>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  data() {
    return {
      newTask: '',
      tasks: [],
    };
  },
  methods: {
    addTask() {
      const newTask = {
        id: Date.now(),
        text: this.newTask,
        done: false,
      };
      this.tasks.push(newTask);
      this.newTask = '';
    },
    doneTask(id) {
      const task = this.tasks.filter((item) => item.id === id)[0];
      task.done = !task.done;
    },
    deleteTask(id) {
      this.tasks = this.tasks.filter((item) => item.id !== id);
    },
  },
};
</script>
